{% extends "account/base.html" %}
{% block head_title %}"Stored Procedure"{% endblock %}

{% block content %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'tema3:day_pet' %}"></a>
      <a class="nav-link" href="{% url 'tema3:' %}"></a>
      <a class="nav-link" href="{% url 'tema3:' %}"></a>
      <a class="nav-link" href="{% url 'tema3:' %}"></a>
      <a class="nav-link" href="{% url 'tema3:' %}"></a>
      <a class="nav-link" href="{% url 'tema3:' %}"></a>
      <a class="nav-link" href="{% url 'tema3:' %}"></a>
      <a class="nav-link" href="{% url 'tema3:' %}"></a>
    </li>
</ul>
{% endblock %}
